# Intro

placeholder text

## Summary

placeholder text


### Challanges
> Large dataset (>200 cols)



---



What do I want to do in this notebook?

- Data preprocessing

1. Missing Data Investiagion
2. Change Data Types
3. Define & Create Target Variable (churn)

In [1]:
# Import sys, os
import sys
import os

# Change the root folder path
project_root = os.path.abspath("..")
sys.path.append(project_root)

# Import analytical packages
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functions.utils import identify_empty_cols

# Change pandas display options to visualize the entire dataframe info
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

# Data Overview

In [2]:
# Read the raw data
df_raw = pd.read_csv('../data/telecom_churn_data.csv')

In [3]:
# Copy the dataframe and display shape
df = df_raw.copy()
df.shape

(99999, 226)

In [4]:
# Check the head
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [5]:
# Check the tail
df.tail()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
99994,7001548952,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,18.471,...,0,NaN,NaN,NaN,NaN,3199,0.00,0.00,0.00,0.0
99995,7000607688,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,112.201,...,0,NaN,NaN,NaN,NaN,2052,0.00,0.00,0.00,0.0
99996,7000087541,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,229.187,...,0,1.0,NaN,NaN,NaN,185,0.00,0.00,0.00,0.0
99997,7000498689,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,...,0,1.0,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0
99998,7001905007,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,687.065,...,0,1.0,NaN,NaN,NaN,751,0.00,0.00,0.00,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

# Data Types

In [7]:
# Check the data types
df.dtypes

mobile_number                 int64
circle_id                     int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6         object
last_date_of_month_7         object
last_date_of_month_8         object
last_date_of_month_9         object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
arpu_9                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
onnet_mou_9                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
offnet_mou_9                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_ic_mou_9               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
roam_og_mou_9               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2t_mou_9            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2m_mou_9            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2f_mou_9            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_t2c_mou_9            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
loc_og_mou_9                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2t_mou_9            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2m_mou_9            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2f_mou_9            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_t2c_mou_9            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
std_og_mou_9                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
isd_og_mou_9                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
spl_og_mou_9                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
og_others_9                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
total_og_mou_9              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2t_mou_9            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2m_mou_9            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_t2f_mou_9            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
loc_ic_mou_9                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2t_mou_9            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2m_mou_9            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2f_mou_9            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_t2o_mou_9            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
std_ic_mou_9                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
total_ic_mou_9              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
spl_ic_mou_9                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
isd_ic_mou_9                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
ic_others_9                 float64
total_rech_num_6              int64
total_rech_num_7              int64
total_rech_num_8              int64
total_rech_num_9              int64
total_rech_amt_6              int64
total_rech_amt_7              int64
total_rech_amt_8              int64
total_rech_amt_9              int64
max_rech_amt_6                int64
max_rech_amt_7                int64
max_rech_amt_8                int64
max_rech_amt_9                int64
date_of_last_rech_6          object
date_of_last_rech_7          object
date_of_last_rech_8          object
date_of_last_rech_9          object
last_day_rch_amt_6            int64
last_day_rch_amt_7            int64
last_day_rch_amt_8            int64
last_day_rch_amt_9            int64
date_of_last_rech_data_6     object
date_of_last_rech_data_7     object
date_of_last_rech_data_8     object
date_of_last_rech_data_9     object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
total_rech_data_9           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
max_rech_data_9             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_2g_9             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
count_rech_3g_9             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
av_rech_amt_data_9          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_2g_mb_9                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
vol_3g_mb_9                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_3g_9                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
arpu_2g_9                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
night_pck_user_9            float64
monthly_2g_6                  int64
monthly_2g_7                  int64
monthly_2g_8                  int64
monthly_2g_9                  int64
sachet_2g_6                   int64
sachet_2g_7                   int64
sachet_2g_8                   int64
sachet_2g_9                   int64
monthly_3g_6                  int64
monthly_3g_7                  int64
monthly_3g_8                  int64
monthly_3g_9                  int64
sachet_3g_6                   int64
sachet_3g_7                   int64
sachet_3g_8                   int64
sachet_3g_9                   int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
fb_user_9                   float64
aon                           int64
aug_vbc_3g                  float64
jul_vbc_3g                  float64
jun_vbc_3g                  float64
sep_vbc_3g                  float64
dtype: object

In [8]:
# Capture all the 'object' type columns

object_cols = []
for col in df.columns:
    if df[col].dtype == 'O':
        object_cols.append(col)

# Show the columns
df[object_cols].head()

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9
0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,6/21/2014,7/16/2014,8/8/2014,9/28/2014,6/21/2014,7/16/2014,8/8/2014,NaN
1,6/30/2014,7/31/2014,8/31/2014,9/30/2014,6/29/2014,7/31/2014,8/28/2014,9/30/2014,NaN,7/25/2014,8/10/2014,NaN
2,6/30/2014,7/31/2014,8/31/2014,9/30/2014,6/17/2014,7/24/2014,8/14/2014,9/29/2014,NaN,NaN,NaN,9/17/2014
3,6/30/2014,7/31/2014,8/31/2014,9/30/2014,6/28/2014,7/31/2014,8/31/2014,9/30/2014,NaN,NaN,NaN,NaN
4,6/30/2014,7/31/2014,8/31/2014,9/30/2014,6/26/2014,7/28/2014,8/9/2014,9/28/2014,6/4/2014,NaN,NaN,NaN

Those are obviously meant to represent dates, so let's change their datatypes to datetime

In [9]:
# Change all the columns to date type
for col in object_cols:
    df[col] = pd.to_datetime(df[col], format='%m/%d/%Y', errors='ignore')

df[object_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   last_date_of_month_6      99999 non-null  datetime64[ns]
 1   last_date_of_month_7      99398 non-null  datetime64[ns]
 2   last_date_of_month_8      98899 non-null  datetime64[ns]
 3   last_date_of_month_9      98340 non-null  datetime64[ns]
 4   date_of_last_rech_6       98392 non-null  datetime64[ns]
 5   date_of_last_rech_7       98232 non-null  datetime64[ns]
 6   date_of_last_rech_8       96377 non-null  datetime64[ns]
 7   date_of_last_rech_9       95239 non-null  datetime64[ns]
 8   date_of_last_rech_data_6  25153 non-null  datetime64[ns]
 9   date_of_last_rech_data_7  25571 non-null  datetime64[ns]
 10  date_of_last_rech_data_8  26339 non-null  datetime64[ns]
 11  date_of_last_rech_data_9  25922 non-null  datetime64[ns]
dtypes: datetime64[ns](12)
memory usage: 9.2 MB

# Cardinality Analysis

In [10]:
# Check the number of unique values in each column
df.nunique()

mobile_number               99999
circle_id                       1
loc_og_t2o_mou                  1
std_og_t2o_mou                  1
loc_ic_t2o_mou                  1
last_date_of_month_6            1
last_date_of_month_7            1
last_date_of_month_8            1
last_date_of_month_9            1
arpu_6                      85681
arpu_7                      85308
arpu_8                      83615
arpu_9                      79937
onnet_mou_6                 24313
onnet_mou_7                 24336
onnet_mou_8                 24089
onnet_mou_9                 23565
offnet_mou_6                31140
offnet_mou_7                31023
offnet_mou_8                30908
offnet_mou_9                30077
roam_ic_mou_6                6512
roam_ic_mou_7                5230
roam_ic_mou_8                5315
roam_ic_mou_9                4827
roam_og_mou_6                8038
roam_og_mou_7                6639
roam_og_mou_8                6504
roam_og_mou_9                5882
loc_og_t2t_mou_6            13539
loc_og_t2t_mou_7            13411
loc_og_t2t_mou_8            13336
loc_og_t2t_mou_9            12949
loc_og_t2m_mou_6            20905
loc_og_t2m_mou_7            20637
loc_og_t2m_mou_8            20544
loc_og_t2m_mou_9            20141
loc_og_t2f_mou_6             3860
loc_og_t2f_mou_7             3863
loc_og_t2f_mou_8             3807
loc_og_t2f_mou_9             3758
loc_og_t2c_mou_6             2235
loc_og_t2c_mou_7             2426
loc_og_t2c_mou_8             2516
loc_og_t2c_mou_9             2332
loc_og_mou_6                26372
loc_og_mou_7                26091
loc_og_mou_8                25990
loc_og_mou_9                25376
std_og_t2t_mou_6            18244
std_og_t2t_mou_7            18567
std_og_t2t_mou_8            18291
std_og_t2t_mou_9            17934
std_og_t2m_mou_6            19734
std_og_t2m_mou_7            20018
std_og_t2m_mou_8            19786
std_og_t2m_mou_9            19052
std_og_t2f_mou_6             2450
std_og_t2f_mou_7             2391
std_og_t2f_mou_8             2333
std_og_t2f_mou_9             2295
std_og_t2c_mou_6                1
std_og_t2c_mou_7                1
std_og_t2c_mou_8                1
std_og_t2c_mou_9                1
std_og_mou_6                27502
std_og_mou_7                27951
std_og_mou_8                27491
std_og_mou_9                26553
isd_og_mou_6                 1381
isd_og_mou_7                 1380
isd_og_mou_8                 1276
isd_og_mou_9                 1255
spl_og_mou_6                 3965
spl_og_mou_7                 4396
spl_og_mou_8                 4390
spl_og_mou_9                 4095
og_others_6                  1018
og_others_7                   187
og_others_8                   216
og_others_9                   235
total_og_mou_6              40327
total_og_mou_7              40477
total_og_mou_8              40074
total_og_mou_9              39160
loc_ic_t2t_mou_6            13540
loc_ic_t2t_mou_7            13511
loc_ic_t2t_mou_8            13346
loc_ic_t2t_mou_9            12993
loc_ic_t2m_mou_6            22065
loc_ic_t2m_mou_7            21918
loc_ic_t2m_mou_8            21886
loc_ic_t2m_mou_9            21484
loc_ic_t2f_mou_6             7250
loc_ic_t2f_mou_7             7395
loc_ic_t2f_mou_8             7097
loc_ic_t2f_mou_9             7091
loc_ic_mou_6                28569
loc_ic_mou_7                28390
loc_ic_mou_8                28200
loc_ic_mou_9                27697
std_ic_t2t_mou_6             6279
std_ic_t2t_mou_7             6481
std_ic_t2t_mou_8             6352
std_ic_t2t_mou_9             6157
std_ic_t2m_mou_6             9308
std_ic_t2m_mou_7             9464
std_ic_t2m_mou_8             9304
std_ic_t2m_mou_9             8933
std_ic_t2f_mou_6             3125
std_ic_t2f_mou_7             3209
std_ic_t2f_mou_8             3051
std_ic_t2f_mou_9             3090
std_ic_t2o_mou_6                1
std_ic_t2o_mou_7                1
std_ic_t2o_mou_8                1
std_ic_t2o_mou_9                1
std_ic_mou_6                11646
std_ic_mou_7                11889
std_ic_mou_8                11662
std_ic_mou_9                11266
total_ic_mou_6              32247
total_ic_mou_7              32242
total_ic_mou_8              32128
total_ic_mou_9              31260
spl_ic_mou_6                   84
spl_ic_mou_7                  107
spl_ic_mou_8                  102
spl_ic_mou_9                  384
isd_ic_mou_6                 5521
isd_ic_mou_7                 5789
isd_ic_mou_8                 5844
isd_ic_mou_9                 5557
ic_others_6                  1817
ic_others_7                  2002
ic_others_8                  1896
ic_others_9                  1923
total_rech_num_6              102
total_rech_num_7              101
total_rech_num_8               96
total_rech_num_9               97
total_rech_amt_6             2305
total_rech_amt_7             2329
total_rech_amt_8             2347
total_rech_amt_9             2304
max_rech_amt_6                202
max_rech_amt_7                183
max_rech_amt_8                213
max_rech_amt_9                201
date_of_last_rech_6            30
date_of_last_rech_7            31
date_of_last_rech_8            31
date_of_last_rech_9            30
last_day_rch_amt_6            186
last_day_rch_amt_7            173
last_day_rch_amt_8            199
last_day_rch_amt_9            185
date_of_last_rech_data_6       30
date_of_last_rech_data_7       31
date_of_last_rech_data_8       31
date_of_last_rech_data_9       30
total_rech_data_6              37
total_rech_data_7              42
total_rech_data_8              46
total_rech_data_9              37
max_rech_data_6                48
max_rech_data_7                48
max_rech_data_8                50
max_rech_data_9                50
count_rech_2g_6                31
count_rech_2g_7                36
count_rech_2g_8                34
count_rech_2g_9                32
count_rech_3g_6                25
count_rech_3g_7                28
count_rech_3g_8                29
count_rech_3g_9                27
av_rech_amt_data_6            887
av_rech_amt_data_7            961
av_rech_amt_data_8            973
av_rech_amt_data_9            945
vol_2g_mb_6                 15201
vol_2g_mb_7                 15114
vol_2g_mb_8                 14994
vol_2g_mb_9                 13919
vol_3g_mb_6                 13773
vol_3g_mb_7                 14519
vol_3g_mb_8                 14960
vol_3g_mb_9                 14472
arpu_3g_6                    7418
arpu_3g_7                    7246
arpu_3g_8                    7787
arpu_3g_9                    8063
arpu_2g_6                    6990
arpu_2g_7                    6586
arpu_2g_8                    6652
arpu_2g_9                    6795
night_pck_user_6                2
night_pck_user_7                2
night_pck_user_8                2
night_pck_user_9                2
monthly_2g_6                    5
monthly_2g_7                    6
monthly_2g_8                    6
monthly_2g_9                    5
sachet_2g_6                    32
sachet_2g_7                    35
sachet_2g_8                    34
sachet_2g_9                    32
monthly_3g_6                   12
monthly_3g_7                   15
monthly_3g_8                   12
monthly_3g_9                   11
sachet_3g_6                    25
sachet_3g_7                    27
sachet_3g_8                    29
sachet_3g_9                    27
fb_user_6                       2
fb_user_7                       2
fb_user_8                       2
fb_user_9                       2
aon                          3489
aug_vbc_3g                  14676
jul_vbc_3g                  14162
jun_vbc_3g                  13312
sep_vbc_3g                   3720
dtype: int64

In [11]:
# Let's investigate the columns with few unique values:
low_cardinality_columns = df.columns[df.nunique() < 5]
df[low_cardinality_columns].nunique()

circle_id               1
loc_og_t2o_mou          1
std_og_t2o_mou          1
loc_ic_t2o_mou          1
last_date_of_month_6    1
last_date_of_month_7    1
last_date_of_month_8    1
last_date_of_month_9    1
std_og_t2c_mou_6        1
std_og_t2c_mou_7        1
std_og_t2c_mou_8        1
std_og_t2c_mou_9        1
std_ic_t2o_mou_6        1
std_ic_t2o_mou_7        1
std_ic_t2o_mou_8        1
std_ic_t2o_mou_9        1
night_pck_user_6        2
night_pck_user_7        2
night_pck_user_8        2
night_pck_user_9        2
fb_user_6               2
fb_user_7               2
fb_user_8               2
fb_user_9               2
dtype: int64

In [12]:
df[low_cardinality_columns].head(2)

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,std_og_t2c_mou_6,std_og_t2c_mou_7,...,std_ic_t2o_mou_8,std_ic_t2o_mou_9,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9
0,109,0.0,0.0,0.0,2014-06-30,2014-07-31,2014-08-31,2014-09-30,NaN,NaN,...,0.0,NaN,0.0,0.0,0.0,NaN,1.0,1.0,1.0,NaN
1,109,0.0,0.0,0.0,2014-06-30,2014-07-31,2014-08-31,2014-09-30,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0,1.0,NaN

So, what's the takeaway? The columns with a single unique value do not hold useful information for us. In this case, they are:

    - `circle_id`: a repeated id number 
    - a set of columns that indicate the last day of that particular month.
    - another set of columns that tracks calls to landlines, _hich are somehow still a thing.
     
Since they have no analytical purpose and hold no useful information, we might as well drop them

What about the columns with 2 unique values? Those are a binary representation of the label. In less technical terms, they indicate if a customer is a user of a certain product or not.

In [13]:
single_value_columns = df.columns[df.nunique() == 1]
df.drop(single_value_columns, axis=1, inplace=True)

# Missing Data Investigation

In [ ]:
# Check for missing data
df.isna().mean()*100

There is a lot of missing data. While some of it is within a somewhat acceptable range (below 5%), some columns have over 70% of their data missing. Instead of just dropping these, we should investigate further, this could be a mislabeling issue, for example.

# Checking for patterns in missing data

In [ ]:
# Capture the columns with over 70% missing values in a list
na_pct = df.isna().mean()*100
missing_values_cols = na_pct[na_pct > 70].index

# Check the data
df[missing_values_cols].head(2).T

There is a an apparent pattern in the missing data. We can see that the missing values are actually meant to be 0.

If we take, for example, the `date_of_last_rech_data_9` for the data points above (which are NaN), we can see that all the other numerical values for the 9th month are also NaN. 

These have to do with how much data recharge each customer did for that particular month. Since the client did not recharge his data for that month, we can imput 0 for all the numeric values here represented as NaN.

For more details on what each acronym mean, check the [Data Dictionary]()

It's also very important to understand the patterns in the missing data for the date columns. Take, for example, the second row for `date_of_last_rech_data_6`. The NaN value follows the same pattern as before. The value here is missing beacause the customer did not recharge their data on the 6th month. That is valuable information for our prediction model. Less active customers tend to churn more, so we want to capture that information in our dataset.

Some of the columns are meant to represent binary values: 1 for yes and 0 for no. We can also impute 0 for these columns (fb_users, night_pck_user)

In [ ]:
# Let's plot the distribution of the variables
df[missing_values_cols].hist(bins=50, figsize=(20, 16))
plt.show()

It's very important to highlight that we are only imputing data on **numeric columns**, we'll need a different approach to deal with our date columns, which we haven't converted to datetime yet, so they show up as object type.

In [ ]:
df[missing_values_cols].dtypes

In [ ]:
# Determine columns with over 70% missing values
na_pct = df.isna().mean() * 100
missing_values_cols = na_pct[na_pct > 70].index

# Select only numeric columns from missing columns
numeric_cols = missing_values_cols.intersection(df.select_dtypes(include=['int64', 'float64']).columns)

# Impute missing values with 0 in those columns
df.loc[:, numeric_cols] = df.loc[:, numeric_cols].fillna(0)

We can now see that all the columns with over 70% missing data have now been filled with the assigned value. In this case, it makes sense to arbitrarily imput 0 as a value, since it actually represents that the customer did not use a given service that month.

In [ ]:
# Verify if the values have been imputed
df[missing_values_cols].isna().mean() * 100

Awesome! Except for the date columns, all of the other missing data has been succesfully imputed. There's still more data missing, so let's check that out:

In [ ]:
# Check descriptive stats for outliers
df.describe().T

We can see that some numerical columns have a **maximum value of 0**, this is a strong indicator that there is something wrong with the data there. Let's further inspect those

In [ ]:
# Capture the descriptive stats in a temporary dataframe. Pivot so we can filter the 'max' value
described = df.describe().T

# Capture the indexes where the value for 'max' is 0 in a list
mask = described[described['max'] == 0].index.to_list()

# Inspect the values
df[mask].head()

It seems that some columns, while not empty, hold no information. It's all 0s or NaNs. Let's come up with a way to get rid of them.

In [ ]:
# Id the columns with 0s and NaNs.
identify_empty_cols(df)

The columns above all contain a mix of 0s and NA values, lets get rid of them.

On a sidenote, to understand what they represent, we have to check the [Data Dictionary], but they are MOU (minutes of use) for incoming and outgoing standard calls to other operator's fixed lines

In [ ]:
# Drop the empty columns
empty_columns = identify_empty_cols(df)['mixed']
df.drop(labels=empty_columns, axis=1, inplace=True)

Done! Now, let's move on to the date columns, or rather, the columns that represent date values.

# Datetime columns

In [ ]:
# I'll capture the  columns that might be date columns in a list.
# I'll do that by matching the strings 'day' or 'date' in the column name.

date_columns = []

for col in df.columns:    
        if re.search(r'day|date', col, re.IGNORECASE):
            date_columns.append(col)

print(date_columns)

In [ ]:
df[date_columns].head()

Apparently the columns with the string 'day' in them don't actually represent dates. By checking the [Data Dictionary](), we can see that they actually represent the the amount rechared on the last day of the month in local currency.

Let's rewrite our loop to keep the date columns only:

In [ ]:
# Capture the  columns that might be date columns in a list.
# This time, we'll only match the 'date' string

date_columns = []

for col in df.columns:    
        if re.search(r'date', col, re.IGNORECASE):
            date_columns.append(col)

print(date_columns)

Good! Now that we have our date columns, let's treat them; this process envolves:
- Investigating Missing Data 
- Changing data types
- Other relevant transformations

In [ ]:
# Check for missing data
df[date_columns].isna().mean()

There's plenty of missing data. Just like with the [other columns](), it's safe to assume that the missing data here represent's a customer that has not recharged; therefore was not active, in the represented period.

While it might be tempting to just drop these columns, that would be a grave mistake. Patterns in missing data often hold information. 

Now, dealing with missing datetime values is not as simple as dealing with missing numerical or categorical data.

There are several ways of dealing with missing `datetime` values, we can use a **placeholder** value, use **statistical imputation** techniques, simply **drop the values** or **create an indicator column**. All of them with it's pros and cons.

The choice of technique is guided by a few key questions: 

- What is the purpose of the date column? 
- How will it be used (trend analysis, individual predictions, etc?)
- Pattern in missingness: Is there a pattern in the missing data? Can that be used as a predictor variable by our algorithm?

For this case in particular, the missing data represents a period where the customer was innactive. If they didn't recharge their data, there won't be a `date_of_laste_rech_data`. So our best approach here is to **flag** the missing data with an indicator column. Let's do just that:

# Creating indicator columns for the missing dates.

In [ ]:
# Create a list of indicator columns
indicators = [f'{col}_na' for col in date_columns]

indicators

In [ ]:
df[indicators] = df[date_columns].isna().astype(int)

In [ ]:
df[['date_of_last_rech_data_6', 'date_of_last_rech_data_6_na']].head()

It worked as expected. Now, we've enriched our dataset and we have columns that indicate missing data. That is going to come in handy when we're training our model.

# Other missing data

Deal with the rest of the missing data.

This data is numeric

this data can be handled differently:

Imputation techniques:
- Mean-Median Imputation
- Arbitrary Value Imputation
- Frequent Category Imputation
- Missing Category Imputation
- Missing Indicator
- Random Sample Imputation
- Complete Case Analysis (drop the missing data)
- End of distribution imputation

Talk a little bit about missing data imputation techniques

In [ ]:
# Boolean mask for columns with missing values (except date columns)
mask = (df.isna().any()) & (~df.columns.isin(date_columns))

# Filter columns based on the mask (select only those with missing values and not in date_columns)
missing_columns = df.columns[mask]

# Select the columns in the filtered list (only columns with missing data, excluding date columns)
df_filtered = df[missing_columns]

In [ ]:
df_filtered.head()