# Intro

placeholder text

### Key Findings:

---

Challenges:

    - Large dataset (>200 cols)
    - Define KPI (churn)

In [1]:
# Imports
import pandas as pd # type: ignore
import numpy as np

# Change pandas display options to visualize the entire dataframe info
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [2]:
# Import the raw data
df_raw = pd.read_csv('../data/telecom_churn_data.csv')

In [3]:
# Copy the dataframe and display shape
df = df_raw.copy()
df.shape

(99999, 226)

In [4]:
# Check the head
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [5]:
# Check the tail
df.tail()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
99994,7001548952,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,18.471,...,0,NaN,NaN,NaN,NaN,3199,0.00,0.00,0.00,0.0
99995,7000607688,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,112.201,...,0,NaN,NaN,NaN,NaN,2052,0.00,0.00,0.00,0.0
99996,7000087541,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,229.187,...,0,1.0,NaN,NaN,NaN,185,0.00,0.00,0.00,0.0
99997,7000498689,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,...,0,1.0,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0
99998,7001905007,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,687.065,...,0,1.0,NaN,NaN,NaN,751,0.00,0.00,0.00,0.0

In [6]:
# Check the data types
df.dtypes

mobile_number                 int64
circle_id                     int64
loc_og_t2o_mou              float64
std_og_t2o_mou              float64
loc_ic_t2o_mou              float64
last_date_of_month_6         object
last_date_of_month_7         object
last_date_of_month_8         object
last_date_of_month_9         object
arpu_6                      float64
arpu_7                      float64
arpu_8                      float64
arpu_9                      float64
onnet_mou_6                 float64
onnet_mou_7                 float64
onnet_mou_8                 float64
onnet_mou_9                 float64
offnet_mou_6                float64
offnet_mou_7                float64
offnet_mou_8                float64
offnet_mou_9                float64
roam_ic_mou_6               float64
roam_ic_mou_7               float64
roam_ic_mou_8               float64
roam_ic_mou_9               float64
roam_og_mou_6               float64
roam_og_mou_7               float64
roam_og_mou_8               float64
roam_og_mou_9               float64
loc_og_t2t_mou_6            float64
loc_og_t2t_mou_7            float64
loc_og_t2t_mou_8            float64
loc_og_t2t_mou_9            float64
loc_og_t2m_mou_6            float64
loc_og_t2m_mou_7            float64
loc_og_t2m_mou_8            float64
loc_og_t2m_mou_9            float64
loc_og_t2f_mou_6            float64
loc_og_t2f_mou_7            float64
loc_og_t2f_mou_8            float64
loc_og_t2f_mou_9            float64
loc_og_t2c_mou_6            float64
loc_og_t2c_mou_7            float64
loc_og_t2c_mou_8            float64
loc_og_t2c_mou_9            float64
loc_og_mou_6                float64
loc_og_mou_7                float64
loc_og_mou_8                float64
loc_og_mou_9                float64
std_og_t2t_mou_6            float64
std_og_t2t_mou_7            float64
std_og_t2t_mou_8            float64
std_og_t2t_mou_9            float64
std_og_t2m_mou_6            float64
std_og_t2m_mou_7            float64
std_og_t2m_mou_8            float64
std_og_t2m_mou_9            float64
std_og_t2f_mou_6            float64
std_og_t2f_mou_7            float64
std_og_t2f_mou_8            float64
std_og_t2f_mou_9            float64
std_og_t2c_mou_6            float64
std_og_t2c_mou_7            float64
std_og_t2c_mou_8            float64
std_og_t2c_mou_9            float64
std_og_mou_6                float64
std_og_mou_7                float64
std_og_mou_8                float64
std_og_mou_9                float64
isd_og_mou_6                float64
isd_og_mou_7                float64
isd_og_mou_8                float64
isd_og_mou_9                float64
spl_og_mou_6                float64
spl_og_mou_7                float64
spl_og_mou_8                float64
spl_og_mou_9                float64
og_others_6                 float64
og_others_7                 float64
og_others_8                 float64
og_others_9                 float64
total_og_mou_6              float64
total_og_mou_7              float64
total_og_mou_8              float64
total_og_mou_9              float64
loc_ic_t2t_mou_6            float64
loc_ic_t2t_mou_7            float64
loc_ic_t2t_mou_8            float64
loc_ic_t2t_mou_9            float64
loc_ic_t2m_mou_6            float64
loc_ic_t2m_mou_7            float64
loc_ic_t2m_mou_8            float64
loc_ic_t2m_mou_9            float64
loc_ic_t2f_mou_6            float64
loc_ic_t2f_mou_7            float64
loc_ic_t2f_mou_8            float64
loc_ic_t2f_mou_9            float64
loc_ic_mou_6                float64
loc_ic_mou_7                float64
loc_ic_mou_8                float64
loc_ic_mou_9                float64
std_ic_t2t_mou_6            float64
std_ic_t2t_mou_7            float64
std_ic_t2t_mou_8            float64
std_ic_t2t_mou_9            float64
std_ic_t2m_mou_6            float64
std_ic_t2m_mou_7            float64
std_ic_t2m_mou_8            float64
std_ic_t2m_mou_9            float64
std_ic_t2f_mou_6            float64
std_ic_t2f_mou_7            float64
std_ic_t2f_mou_8            float64
std_ic_t2f_mou_9            float64
std_ic_t2o_mou_6            float64
std_ic_t2o_mou_7            float64
std_ic_t2o_mou_8            float64
std_ic_t2o_mou_9            float64
std_ic_mou_6                float64
std_ic_mou_7                float64
std_ic_mou_8                float64
std_ic_mou_9                float64
total_ic_mou_6              float64
total_ic_mou_7              float64
total_ic_mou_8              float64
total_ic_mou_9              float64
spl_ic_mou_6                float64
spl_ic_mou_7                float64
spl_ic_mou_8                float64
spl_ic_mou_9                float64
isd_ic_mou_6                float64
isd_ic_mou_7                float64
isd_ic_mou_8                float64
isd_ic_mou_9                float64
ic_others_6                 float64
ic_others_7                 float64
ic_others_8                 float64
ic_others_9                 float64
total_rech_num_6              int64
total_rech_num_7              int64
total_rech_num_8              int64
total_rech_num_9              int64
total_rech_amt_6              int64
total_rech_amt_7              int64
total_rech_amt_8              int64
total_rech_amt_9              int64
max_rech_amt_6                int64
max_rech_amt_7                int64
max_rech_amt_8                int64
max_rech_amt_9                int64
date_of_last_rech_6          object
date_of_last_rech_7          object
date_of_last_rech_8          object
date_of_last_rech_9          object
last_day_rch_amt_6            int64
last_day_rch_amt_7            int64
last_day_rch_amt_8            int64
last_day_rch_amt_9            int64
date_of_last_rech_data_6     object
date_of_last_rech_data_7     object
date_of_last_rech_data_8     object
date_of_last_rech_data_9     object
total_rech_data_6           float64
total_rech_data_7           float64
total_rech_data_8           float64
total_rech_data_9           float64
max_rech_data_6             float64
max_rech_data_7             float64
max_rech_data_8             float64
max_rech_data_9             float64
count_rech_2g_6             float64
count_rech_2g_7             float64
count_rech_2g_8             float64
count_rech_2g_9             float64
count_rech_3g_6             float64
count_rech_3g_7             float64
count_rech_3g_8             float64
count_rech_3g_9             float64
av_rech_amt_data_6          float64
av_rech_amt_data_7          float64
av_rech_amt_data_8          float64
av_rech_amt_data_9          float64
vol_2g_mb_6                 float64
vol_2g_mb_7                 float64
vol_2g_mb_8                 float64
vol_2g_mb_9                 float64
vol_3g_mb_6                 float64
vol_3g_mb_7                 float64
vol_3g_mb_8                 float64
vol_3g_mb_9                 float64
arpu_3g_6                   float64
arpu_3g_7                   float64
arpu_3g_8                   float64
arpu_3g_9                   float64
arpu_2g_6                   float64
arpu_2g_7                   float64
arpu_2g_8                   float64
arpu_2g_9                   float64
night_pck_user_6            float64
night_pck_user_7            float64
night_pck_user_8            float64
night_pck_user_9            float64
monthly_2g_6                  int64
monthly_2g_7                  int64
monthly_2g_8                  int64
monthly_2g_9                  int64
sachet_2g_6                   int64
sachet_2g_7                   int64
sachet_2g_8                   int64
sachet_2g_9                   int64
monthly_3g_6                  int64
monthly_3g_7                  int64
monthly_3g_8                  int64
monthly_3g_9                  int64
sachet_3g_6                   int64
sachet_3g_7                   int64
sachet_3g_8                   int64
sachet_3g_9                   int64
fb_user_6                   float64
fb_user_7                   float64
fb_user_8                   float64
fb_user_9                   float64
aon                           int64
aug_vbc_3g                  float64
jul_vbc_3g                  float64
jun_vbc_3g                  float64
sep_vbc_3g                  float64
dtype: object

In [7]:
# Check for missing data
df.isna().mean()*100

mobile_number                0.000000
circle_id                    0.000000
loc_og_t2o_mou               1.018010
std_og_t2o_mou               1.018010
loc_ic_t2o_mou               1.018010
last_date_of_month_6         0.000000
last_date_of_month_7         0.601006
last_date_of_month_8         1.100011
last_date_of_month_9         1.659017
arpu_6                       0.000000
arpu_7                       0.000000
arpu_8                       0.000000
arpu_9                       0.000000
onnet_mou_6                  3.937039
onnet_mou_7                  3.859039
onnet_mou_8                  5.378054
onnet_mou_9                  7.745077
offnet_mou_6                 3.937039
offnet_mou_7                 3.859039
offnet_mou_8                 5.378054
offnet_mou_9                 7.745077
roam_ic_mou_6                3.937039
roam_ic_mou_7                3.859039
roam_ic_mou_8                5.378054
roam_ic_mou_9                7.745077
roam_og_mou_6                3.937039
roam_og_mou_7                3.859039
roam_og_mou_8                5.378054
roam_og_mou_9                7.745077
loc_og_t2t_mou_6             3.937039
loc_og_t2t_mou_7             3.859039
loc_og_t2t_mou_8             5.378054
loc_og_t2t_mou_9             7.745077
loc_og_t2m_mou_6             3.937039
loc_og_t2m_mou_7             3.859039
loc_og_t2m_mou_8             5.378054
loc_og_t2m_mou_9             7.745077
loc_og_t2f_mou_6             3.937039
loc_og_t2f_mou_7             3.859039
loc_og_t2f_mou_8             5.378054
loc_og_t2f_mou_9             7.745077
loc_og_t2c_mou_6             3.937039
loc_og_t2c_mou_7             3.859039
loc_og_t2c_mou_8             5.378054
loc_og_t2c_mou_9             7.745077
loc_og_mou_6                 3.937039
loc_og_mou_7                 3.859039
loc_og_mou_8                 5.378054
loc_og_mou_9                 7.745077
std_og_t2t_mou_6             3.937039
std_og_t2t_mou_7             3.859039
std_og_t2t_mou_8             5.378054
std_og_t2t_mou_9             7.745077
std_og_t2m_mou_6             3.937039
std_og_t2m_mou_7             3.859039
std_og_t2m_mou_8             5.378054
std_og_t2m_mou_9             7.745077
std_og_t2f_mou_6             3.937039
std_og_t2f_mou_7             3.859039
std_og_t2f_mou_8             5.378054
std_og_t2f_mou_9             7.745077
std_og_t2c_mou_6             3.937039
std_og_t2c_mou_7             3.859039
std_og_t2c_mou_8             5.378054
std_og_t2c_mou_9             7.745077
std_og_mou_6                 3.937039
std_og_mou_7                 3.859039
std_og_mou_8                 5.378054
std_og_mou_9                 7.745077
isd_og_mou_6                 3.937039
isd_og_mou_7                 3.859039
isd_og_mou_8                 5.378054
isd_og_mou_9                 7.745077
spl_og_mou_6                 3.937039
spl_og_mou_7                 3.859039
spl_og_mou_8                 5.378054
spl_og_mou_9                 7.745077
og_others_6                  3.937039
og_others_7                  3.859039
og_others_8                  5.378054
og_others_9                  7.745077
total_og_mou_6               0.000000
total_og_mou_7               0.000000
total_og_mou_8               0.000000
total_og_mou_9               0.000000
loc_ic_t2t_mou_6             3.937039
loc_ic_t2t_mou_7             3.859039
loc_ic_t2t_mou_8             5.378054
loc_ic_t2t_mou_9             7.745077
loc_ic_t2m_mou_6             3.937039
loc_ic_t2m_mou_7             3.859039
loc_ic_t2m_mou_8             5.378054
loc_ic_t2m_mou_9             7.745077
loc_ic_t2f_mou_6             3.937039
loc_ic_t2f_mou_7             3.859039
loc_ic_t2f_mou_8             5.378054
loc_ic_t2f_mou_9             7.745077
loc_ic_mou_6                 3.937039
loc_ic_mou_7                 3.859039
loc_ic_mou_8                 5.378054
loc_ic_mou_9                 7.745077
std_ic_t2t_mou_6             3.937039
std_ic_t2t_mou_7             3.859039
std_ic_t2t_mou_8             5.378054
std_ic_t2t_mou_9             7.745077
std_ic_t2m_mou_6             3.937039
std_ic_t2m_mou_7             3.859039
std_ic_t2m_mou_8             5.378054
std_ic_t2m_mou_9             7.745077
std_ic_t2f_mou_6             3.937039
std_ic_t2f_mou_7             3.859039
std_ic_t2f_mou_8             5.378054
std_ic_t2f_mou_9             7.745077
std_ic_t2o_mou_6             3.937039
std_ic_t2o_mou_7             3.859039
std_ic_t2o_mou_8             5.378054
std_ic_t2o_mou_9             7.745077
std_ic_mou_6                 3.937039
std_ic_mou_7                 3.859039
std_ic_mou_8                 5.378054
std_ic_mou_9                 7.745077
total_ic_mou_6               0.000000
total_ic_mou_7               0.000000
total_ic_mou_8               0.000000
total_ic_mou_9               0.000000
spl_ic_mou_6                 3.937039
spl_ic_mou_7                 3.859039
spl_ic_mou_8                 5.378054
spl_ic_mou_9                 7.745077
isd_ic_mou_6                 3.937039
isd_ic_mou_7                 3.859039
isd_ic_mou_8                 5.378054
isd_ic_mou_9                 7.745077
ic_others_6                  3.937039
ic_others_7                  3.859039
ic_others_8                  5.378054
ic_others_9                  7.745077
total_rech_num_6             0.000000
total_rech_num_7             0.000000
total_rech_num_8             0.000000
total_rech_num_9             0.000000
total_rech_amt_6             0.000000
total_rech_amt_7             0.000000
total_rech_amt_8             0.000000
total_rech_amt_9             0.000000
max_rech_amt_6               0.000000
max_rech_amt_7               0.000000
max_rech_amt_8               0.000000
max_rech_amt_9               0.000000
date_of_last_rech_6          1.607016
date_of_last_rech_7          1.767018
date_of_last_rech_8          3.622036
date_of_last_rech_9          4.760048
last_day_rch_amt_6           0.000000
last_day_rch_amt_7           0.000000
last_day_rch_amt_8           0.000000
last_day_rch_amt_9           0.000000
date_of_last_rech_data_6    74.846748
date_of_last_rech_data_7    74.428744
date_of_last_rech_data_8    73.660737
date_of_last_rech_data_9    74.077741
total_rech_data_6           74.846748
total_rech_data_7           74.428744
total_rech_data_8           73.660737
total_rech_data_9           74.077741
max_rech_data_6             74.846748
max_rech_data_7             74.428744
max_rech_data_8             73.660737
max_rech_data_9             74.077741
count_rech_2g_6             74.846748
count_rech_2g_7             74.428744
count_rech_2g_8             73.660737
count_rech_2g_9             74.077741
count_rech_3g_6             74.846748
count_rech_3g_7             74.428744
count_rech_3g_8             73.660737
count_rech_3g_9             74.077741
av_rech_amt_data_6          74.846748
av_rech_amt_data_7          74.428744
av_rech_amt_data_8          73.660737
av_rech_amt_data_9          74.077741
vol_2g_mb_6                  0.000000
vol_2g_mb_7                  0.000000
vol_2g_mb_8                  0.000000
vol_2g_mb_9                  0.000000
vol_3g_mb_6                  0.000000
vol_3g_mb_7                  0.000000
vol_3g_mb_8                  0.000000
vol_3g_mb_9                  0.000000
arpu_3g_6                   74.846748
arpu_3g_7                   74.428744
arpu_3g_8                   73.660737
arpu_3g_9                   74.077741
arpu_2g_6                   74.846748
arpu_2g_7                   74.428744
arpu_2g_8                   73.660737
arpu_2g_9                   74.077741
night_pck_user_6            74.846748
night_pck_user_7            74.428744
night_pck_user_8            73.660737
night_pck_user_9            74.077741
monthly_2g_6                 0.000000
monthly_2g_7                 0.000000
monthly_2g_8                 0.000000
monthly_2g_9                 0.000000
sachet_2g_6                  0.000000
sachet_2g_7                  0.000000
sachet_2g_8                  0.000000
sachet_2g_9                  0.000000
monthly_3g_6                 0.000000
monthly_3g_7                 0.000000
monthly_3g_8                 0.000000
monthly_3g_9                 0.000000
sachet_3g_6                  0.000000
sachet_3g_7                  0.000000
sachet_3g_8                  0.000000
sachet_3g_9                  0.000000
fb_user_6                   74.846748
fb_user_7                   74.428744
fb_user_8                   73.660737
fb_user_9                   74.077741
aon                          0.000000
aug_vbc_3g                   0.000000
jul_vbc_3g                   0.000000
jun_vbc_3g                   0.000000
sep_vbc_3g                   0.000000
dtype: float64

There is a lot of missing data. While some of it is within a somewhat acceptable range (up to 7%), some columns have over 70% of their data missing. Instead of just dropping these, we should investigate further, this could be a mislabeling issue, for example.

In [26]:
# Capture the columns with over 70% missing values in a list
na_pct = df.isna().mean()*100
filtered_cols = na_pct[na_pct > 70].index

# Check the data
df[filtered_cols].head(2).T

                                  0          1
date_of_last_rech_data_6  6/21/2014        NaN
date_of_last_rech_data_7  7/16/2014  7/25/2014
date_of_last_rech_data_8   8/8/2014  8/10/2014
date_of_last_rech_data_9        NaN        NaN
total_rech_data_6               1.0        NaN
total_rech_data_7               1.0        1.0
total_rech_data_8               1.0        2.0
total_rech_data_9               NaN        NaN
max_rech_data_6               252.0        NaN
max_rech_data_7               252.0      154.0
max_rech_data_8               252.0       25.0
max_rech_data_9                 NaN        NaN
count_rech_2g_6                 0.0        NaN
count_rech_2g_7                 0.0        1.0
count_rech_2g_8                 0.0        2.0
count_rech_2g_9                 NaN        NaN
count_rech_3g_6                 1.0        NaN
count_rech_3g_7                 1.0        0.0
count_rech_3g_8                 1.0        0.0
count_rech_3g_9                 NaN        NaN
av_rech_amt_data_6            252.0        NaN
av_rech_amt_data_7            252.0      154.0
av_rech_amt_data_8            252.0       50.0
av_rech_amt_data_9              NaN        NaN
arpu_3g_6                    212.17        NaN
arpu_3g_7                    212.17        0.0
arpu_3g_8                    212.17        0.0
arpu_3g_9                       NaN        NaN
arpu_2g_6                    212.17        NaN
arpu_2g_7                    212.17      28.61
arpu_2g_8                    212.17        7.6
arpu_2g_9                       NaN        NaN
night_pck_user_6                0.0        NaN
night_pck_user_7                0.0        0.0
night_pck_user_8                0.0        0.0
night_pck_user_9                NaN        NaN
fb_user_6                       1.0        NaN
fb_user_7                       1.0        1.0
fb_user_8                       1.0        1.0
fb_user_9                       NaN        NaN

There is a an apparent pattern in the missing data. We can see that the missing values are actually meant to be 0.

If we take, for example, the `date_of_last_rech_data_9` for the data points above (which are NaN), we can see that all the other numerical values for the 9th month are also NaN. 

These have to do with how much data recharge each customer did for that particular month. Since the client did not recharge his data for that month, we can imput 0 for all the numeric values here represented as NaN.

For more details on what each acronym mean, check the [Data Dictionary]

In [ ]:
# Check descriptive stats 
df.describe().T

By doing a quick visual inspection, we can see that some numerical columns have a **maximum value of 0**, this is a strong indicator that there is something wrong with the data there. Let's further inspect those

In [ ]:
# Check the head of the pivoted dataframe with the descriptive statistics
described = df.describe().T
described.head()

In [ ]:
# Capture the indexes where the value for 'max' is 0 in a list
mask = described[described['max'] == 0].index.to_list()

# Inspect the values
df[mask].head()

In [ ]:
# Define a function to check the 'empty' columns
def identify_empty_cols(df):
    """
    Identifies columns containing only 0s, only NaNs, or a combination of both.

    Args:
        df: The DataFrame to check.

    Returns:
        A dictionary with three keys: 'all_zero', 'all_nan', and 'mixed',
        where the values are lists of the corresponding column names.
    """
    result = {
        'all_zero': [],
        'all_nan': [],
        'mixed': [] 
    }

    for col in df.columns:
        if (df[col] == 0).all():
            result['all_zero'].append(col)
        elif df[col].isna().all():
            result['all_nan'].append(col)
        elif (df[col].isna() | (df[col] == 0)).all() and not df[col].isna().all():
            result['mixed'].append(col)

    return result

In [ ]:
identify_empty_cols(df)

The columns above all contain a mix of 0s and NA values, lets get rid of them.

On a sidenote, to understand what they represent, we have to check the [Data Dictionary], but they are MOU (minutes of use) for incoming and outgoing standard calls to other operator's fixed lines

In [ ]:
empty_columns = identify_empty_cols(df)['mixed']

In [ ]:
# Drop the empty columns
df.drop(labels=empty_columns, axis=1, inplace=True)